{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}お客様一覧{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center my-4">
        <h1>お客様情報一覧</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <!-- Boostrapのテーブルタグについては、https://cccabinet.jpn.org/bootstrap4/content/tables 参照 -->
                    <div class="table-responsive">
                        {% if not result %}
                        <div class="my-4">
                            企業様が登録した後に登録したお客様情報を表示します。
                        </div>
                        {% else %}
                        <div class="my-4">
                            企業様が登録した後に登録したお客様情報を表示します。
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">名前</th>
                                <th scope="col">年齢</th>
                                <th scope="col">性別</th>
                                <th scope="col">予算</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {# 取得した結果分ループする処理です#}
                            {# コントローラで指定した $data["result"] は Twigでは result として扱えます #}
                            {# for文でresultの中の一次元目の配列をループで回す形となります #}
                            {# ループ処理中の1行はrowの中に入りますので、このループ中はrow.カラム名で情報を表示することが可能です #}
                            {% for row in result %}
                                <tr>
                                    <td class="align-middle" scope="col">{{ row.name }}</td>
                                    <td class="align-middle" scope="col">{{ row.age }}</td>
                                    <td class="align-middle" scope="col">{{ row.gender }}</td>
                                    <td class="align-middle" scope="col">{{ row.budget }}</td>
                                    <td class="align-middle text-right" scope="col">
                                        <button type="button" class="btn btn-success" onclick="location.href='/item/detail/{{ row.id }}'">詳細</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
